*{
    font-family: 'Open Sans', sans-serif;
}

body{
    padding-top: 120px;
}
.jumbotron{
    background:url("/images/pizza.jpg");
    background-size: cover;
    background-position: center;
    height:100%;
    color:white;
    margin: 5% 0 5% 0;
}

.jumbotron h1{
    margin-bottom: 5%;
}
#btn-feature{
    padding: 2% 5%;
    font-size: 1.9em;
}

#content{
    text-align: center;
    padding-top: 10%;
    padding-bottom:15%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
                 
}

.title-red{
    color: #d9534f;
    text-align: center;
}

.pad10{
    padding: 0 10% 0 10%;
}

.pad5{
    padding: 5% 0 5% 0;
}

.pad3{
    padding: 3% 0 3% 0;
}

p{
    line-height: 2;
    text-align: justify;
}



/*ABOUT*/
#pizzeria{
    width: 100%;
    height: auto;
}

/*LOCATION MAP*/

.subtitle{
    margin-top: 2%;
    margin-bottom: 2%;
    color: #828282;
}
.map{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    
}
.map iframe{
    left:0;
    top:0;
    height:90%;
    width:100%;
    position:absolute;
    
}


/*MENU*/
.fa-cutlery{
    margin-right: 4%;
    color: #db524b;
}


/**/

/*FOOTER*/

footer{
   margin-bottom: 0px!important;
}




