
/*STYLE ADMIN INDEX.PHP*/

.logo-img{
    width: 170px;
    height: auto;
    padding: 0px 0px;
}


.login{
    background-color: #f9f9f9;
    
}

#login-form{
    background-color: white;
    padding: 5%;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 600px;
}

.vertical-center {
   display: flex;
   align-items: center;
   min-height: 100vh;
}

.form-title{
    margin-bottom:20px;
}


/*HOME*/

.navbar-default .navbar-nav > li > a{
    color: #337ab7;
}
.navbar-brand{
    padding: 5px;
}    

.wrapper{
    margin-top: 120px;
}

.wrapper a{
    font-size: 1.8em;
}

/*POP UP*/

.modal-dialog{
    margin-top: 50vh!important;
    transform: translateY(-50%)!important;
}


.close{
    font-size: 40px;
}

.title-blue{
    color: #428bca;
    text-align: center;
}